<section>

  <h3 id="contact" class="s-header">Get in Touch</h3>

  <div class="wrapper contact-wrapper">

    <form class="contact-form" method="POST" action="//formspree.io/{{ site..email }}">
      <fieldset class="contact-info-group">

        <label><span>Name</span>
        <input type="text" name="name"></label>

        <label><span>Email</span>
        <input type="email" name="_replyto"></label>

      </fieldset>

      <label><span>Message</span>
      <textarea name="message"></textarea></label>

      <fieldset class="submit-wrapper">
        <input class="btn-submit" type="submit" value="Send">
      </fieldset>

    </form>

    <div class="contact-social">
      <a href="mailto:{{site.email}}" class="social__email"><i class="fa fa-envelope"></i> {{ site.email }}</a>
      <ul class="social__links">
          {% for link in site.social-links %}
            <li><a class="txt-non-breaking" href="{{ link.url }}" target="blank"><i class="fab fa-{{link.icon-type}}"></i> {{ link.name }}</a></li>
          {% endfor %}
      </li>
    </div>

  </div>


</section>